data/processed/

# Large ML files
*.npy
*.bin
*.csv

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
